/Archer.class
/Character$CharacterType.class
/Character$LevelComparator.class
/Character$NameComparator.class
/Character$NameLevelComparator.class
/Character.class
/Mage.class
/Main.class
/Warrior.class
