#quote-decoration {
    -fx-font: 28px Helvetica;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#container-color {
    -fx-background-color: #a456db;
}

#button-decoration {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 15px 20px;
    -fx-border-radius: 5px;
    -fx-border-color: #4CAF50;
    -fx-margin-top: 110px;
}